@tailwind base;
@tailwind components;
@tailwind utilities;

.mr-14 {
  margin-right: 56px;
}
.mt-14 {
  margin-top: 56px;
}

.rounded-xl {
  border-radius: 30px;
}

.border-b-24 {
  border-bottom: 24px solid rgba(255, 255, 255, 0.4);
}

.w-110 {
  width: 440px;
}
.w-17 {
  width: 66px;
}
.h-17 {
  height: 66px;
}
select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}
